
.simple-on {
}
.simple-on h4{
	color:#000;
	font-size:1.5em;
	font-weight: 700;
}
.simple-on span{
	color:#8a8a8a;
	font-size:0.9em;
}
.simple-on span a{
	color:#8a8a8a;
	text-decoration:none;
}
.simple-on span a:hover{
	color:#f03c3c;
}
.single-bottom {	
	/*border: 1px solid #cecece;*/
	padding: 0;
	/*margin-right: 2%;*/
	width: 23.5%;
	background:#fff;
}	
.single-bottom:nth-child(5) {	
	margin-right:0;
}
.single-grid h3{
	font-size:1.5em;
	color:#000;
	font-family: 'Roboto Slab', serif;
	font-weight:600;
	/*text-align:center;*/
	/*padding:1em 0 1.5em;*/
	/*padding-left: 2%;*/

}
.single {
	/*padding: 0 0 4em;*/
}


.simple-on h4 {
	font-size: 1.3em;
}

.date-in p a,.date p span a,.date p span {
	font-size: 0.9em;
}

.grid-banner ,.grid-banner-in{
	float: left;
}
.simple {
	/*padding: 0.3em 0;*/
}
.single-bottom{
	float:left;
}
.simple-on h4 {
	font-size: 0.9em;
}

.single-grid h3{
	/*padding: 0.5em 0 1em;*/
}
.single-bottom {
	/*margin-right: 6%;*/
	/*margin-top:4%;*/
	width: 47%;
}
.single-bottom:nth-child(3){
	margin-right:0;}

.ih-item img {
	width: 100%;
	height: 100%;
}

.ih-item.circle {
	position: relative;
	margin: 0 auto;
}
.ih-item.circle .img {
	position: relative;
}
.ih-item.circle .img:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;

	box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
	border-radius: 5%;
}
.ih-item.circle .info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	border-radius: 5%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
/*--*/

.ih-item.circle.effect5 {
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	perspective: 900px;
}
.ih-item.circle.effect5.colored .info .info-back {
	background: #1a4a72;
	background: rgba(26, 74, 114, 0.6);
}
.ih-item.circle.effect5 .info {
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ih-item.circle.effect5 .info .info-back {
	visibility: hidden;
	width: 100%;
	height: 100%;
	background: #333333;
	background: rgba(0, 0, 0, 0.6);
	-webkit-transform: rotate3d(0, 1, 0, 180deg);
	-moz-transform: rotate3d(0, 1, 0, 180deg);
	-ms-transform: rotate3d(0, 1, 0, 180deg);
	-o-transform: rotate3d(0, 1, 0, 180deg);
	transform: rotate3d(0, 1, 0, 180deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
/*.ih-item.circle.effect5 .info h3 {*/
	/*color: #fff;*/
	/*position: relative;*/
	/*letter-spacing: 0px;*/
	/*font-size: 1.3em;*/
	/*margin: 0 25%;*/
	/*!*padding: 99px 0 0 0;*!*/
	/*!*height: 110px;*!*/
	/*font-family: 'Archivo Narrow', sans-serif;*/
/*}*/

/*.ih-item.circle.effect5 .info p {*/
	/*color: #bbb;*/
	/*padding: 10px 5px;*/
	/*font-style: italic;*/
	/*margin: 0 30px;*/
	/*font-size: 12px;*/
	/*!*border-top: 1px solid rgba(255, 255, 255, 0.5);*!*/
/*}*/
.ih-item.circle.effect5 a:hover .info {
	-webkit-transform: rotate3d(0, 1, 0, -180deg);
	-moz-transform: rotate3d(0, 1, 0, -180deg);
	-ms-transform: rotate3d(0, 1, 0, -180deg);
	-o-transform: rotate3d(0, 1, 0, -180deg);
	transform: rotate3d(0, 1, 0, -180deg);
}

.ih-item.circle.effect5 a:hover .info .info-back {
	visibility: visible;
	border-radius: 5%;
	width:40%;
	height: 40%;
	margin: auto auto;
	margin-top: 25%;
}
/*--about end here--*/
/*--short codes--*/
.page-header h3{
	font-size: 3em;
	color:#000;
}

h3{margin-top: 25px;margin-bottom: 25px;}